{
  "hosting": {
    "public": "dist",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ]
  },
  "firestore": {
    "database": "ai-studio-1e79ab13-281e-49ca-b45c-a24a4386b051",
    "rules": "firestore.rules"
  }
}
